@st-import [panelBg, panelBorder, uiFgColor, uiFgDark, uiMutedColor, accentColor, fontMono, borderRadius] from "../../project.st.css";

.root {
    -st-states: selected, hovered, mode(enum(light, dark));

    display: flex;
    flex-direction: column;
    border: 1px solid value(panelBorder);
    border-radius: value(borderRadius, md);
    color: value(uiFgColor);
    background: value(panelBg);
    cursor: pointer;
    text-align: left;
    padding: 0.35rem;
    transition: transform 60ms ease;

    &:hover,
    &:hovered {
        border-color: value(uiMutedColor);
        transform: translateY(-1px);
        transition: none;
    }

    &:selected {
        border-color: value(uiMutedColor);
        transform: scale(1.05) translateY(-1px);
    }
}

.color {
    position: relative;

    width: 100%;
    height: 7.5rem;
    border-radius: value(borderRadius, sm);
    overflow: hidden;
    background: var(--swatchColor);
    background: radial-gradient(
        var(--swatchColor),
        var(--swatchColor),
        color-mix(var(--swatchColor), #fff 10%))
        bottom right;
    background-size: 200% 200%;
    box-shadow: 1px 1px 2px #000;

    .root:mode(light) & {
        color: value(uiFgColor);
        background: radial-gradient(
            var(--swatchColor),
            var(--swatchColor),
            color-mix(var(--swatchColor), #000 10%))
            bottom right;
        background-size: 200% 200%;
    }

    .root:mode(dark) & {
        color: value(uiFgDark);
    }
}

.index {
    position: absolute;
    bottom: -0.5rem;
    right: 0;
    color: inherit;
    font-size: 6.5rem;
    font-weight: bold;
    line-height: 1;
    opacity: 0.1;
    pointer-events: none;
    letter-spacing: -0.066em;
}

.hex {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    z-index: 1;

    color: inherit;
    font-family: value(fontMono);
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
}
